.saldo-veiculo-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.saldo-info-text {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  color: #555;
}

.saldo-progress-bar-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 4px;
  height: 18px;
  position: relative;
  overflow: hidden;
}

.saldo-progress-bar-filler {
  height: 100%;
  border-radius: 4px;
  transition: width 0.5s ease-in-out;
}

.saldo-progress-bar-over {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    height: 100%;
    background-color: #c62828; /* Vermelho mais escuro para o excesso */
    border-radius: 0 4px 4px 0;
    transition: width 0.5s ease-in-out;
}

/* --- ESTILOS PARA A BARRA VAZIA/DESATIVADA --- */
.saldo-info-text-vazio {
  font-size: 0.85rem;
  color: #999;
  text-align: center;
  font-style: italic;
}

.saldo-progress-bar-filler-vazio {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0; /* Cor de fundo para a barra vazia */
  border-radius: 4px;
}